{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">

    <div class="mt-2 table-responsive">
        <table class="table table-dark table-bordered text-center mx-auto w-50">
        {% for i in range(board.board_size) %}
            <tr>
                {% for j in range(board.board_size) %}
                    <td>{{ board.board[i][j] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
    </div>

    <div class="mt-2 text-center">
        <pre>Num words in solution: {{ board.solver_stats["total_words_found"] }}</pre>
        <p>
          <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#solution" aria-expanded="false" aria-controls="solution">
            Show Solution
          </button>
        </p>
        <div class="collapse" id="solution">
            <div class="card card-body">
                {% for word in board.solution %}
                {{ word }}
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="timer-div" class="text-center mt-2">
        <h1 id="timer-display" class="display-1"></h1>
        <button class="btn btn-success btn-lg" id='timer-starter'>Start</button>
        <button class="btn btn-danger btn-lg" id='timer-stopper'>Stop</button>
        <button class="btn btn-primary btn-lg" id='timer-resetter'>Reset</button>
    </div>

    <div class="scoring-table mt-5 table-responsive">
        <table class="table table-bordered text-center table-sm mx-auto w-auto">
            <tr>
                <th>Letters</th>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8+</td>
            </tr>
            <tr>
                <th>Points</th>
                <td>1</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>5</td>
                <td>11</td>
            </tr>
        </table>
    </div>

</div>

{% include 'play-or-solve.html' %}

{% block javascript %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/timer.js') }}"></script>
{% endblock javascript %}

{% endblock content %}

